.back{
    background-color: #F0F0F0;
}
.shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}
.padder{
 margin:1em;
 }
.styleloginsignup{
padding-top:20px;
}